@import '../../../../styles/mixins';

.wrapper {
  width: 100%;
  max-width: 1332px;
  margin: 0 auto;
}

.tabs {
  &:not(:last-child) {
    @include adaptive-value-base('margin-bottom', 28, 16, 1);
  }
}

.tabsList {
  @include adaptive-value-base('margin-bottom', 28, 24, 1);

  justify-content: center;
}

.items {
  @include flex-normal($align-items: flex-start);

  flex-wrap: wrap;
  gap: 20px;
  width: 100%;

  /* stylelint-disable-next-line */
  @include mq(md) {
    overflow-x: auto;
    flex-wrap: nowrap;
    justify-content: flex-start;

    width: calc(100% + 80px);
    margin: -40px 0 0 -40px;
    padding: 40px 32px 40px 40px;
  }
}

.item {
  flex-grow: 1;
  align-self: normal;
  width: 23%;

  /* stylelint-disable-next-line */
  @include mq(md) {
    flex-shrink: 0;
    width: 318px;
  }
}

.itemBig {
  width: 49%;

  /* stylelint-disable-next-line */
  @include mq(md) {
    width: 318px;
  }
}

.sectionBottom {
  align-items: flex-start;

  /* stylelint-disable-next-line */
  @include mq(md) {
    align-items: center;
  }
}

.sectionBottomText {
  @include mq(md) {
    text-align: center;
  }
}

.sectionButtons {
  display: flex;
  gap: 8px;
  align-items: center;

  /* stylelint-disable-next-line */
  @include mq(sm) {
    flex-direction: row;
  }
}

.sectionButton {
  flex-shrink: 0;
}
