@import '../../../styles/mixins';

.menu {
  display: flex;
  gap: 48px;
  align-items: center;

  /* stylelint-disable-next-line */
  @include mq(xl) {
    gap: 28px;
  }
}

.link {
  font-size: 16px;
  color: var(--color-purple-900);
  font-family: 'Poppins', sans-serif;
  position: relative;
  transition:
    box-shadow 0.3s,
    opacity 0.3s,
    color 0.3s;
  @include link-focus;

  @media (any-hover: hover) {
    &::before {
      position: absolute;
      content: '';
      left: -10px;
      bottom: -34px;
      background-color: transparent;
      border: solid 2px var(--color-orange-400);
      border-color: var(--color-orange-400) transparent transparent transparent;
      border-radius: 50%/20% 20% 0 0;
      transition: transform 0.25s ease-out;
      right: -10px;
      height: 35px;
      transform-origin: bottom right;
      transform: scaleX(0);
    }

    &:hover {
      color: var(--color-orange-400);

      &::before {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
    }
  }

  &:active {
    opacity: 0.5;
  }
}

.linkWithIcon {
  display: flex;
  gap: 10px;
  align-items: center;
  font-weight: 500;
}

.icon {
  width: 24px;
  height: 24px;
  fill: var(--color-purple-900);
}
