@import '../../../styles/mixins';

.menu {
  display: flex;
  gap: 48px;
  align-items: center;

  /* stylelint-disable-next-line */
  @include mq(xl) {
    gap: 28px;
    flex-direction: column;
  }
}
